{% extends base %}
 
{% block content %}
	<div class="row">
		<h1 class="small-12">Erreur</h1>
	</div>
	<div class="row">
		<div class="small-12 label alert column">
			<p>
				{{message}}
			</p>
		</div>
	</div>
	<br/>
	<div class="panel row">
		<p class="small-12">
			Pour revenir à la page précedente <a href={{ redirection }}>cliquez ici</a>
		</p>
	</div>
{% endblock %}

