{% extends base %}

{% block content %}
	<script src="../media/js/foundation/foundation.abide.js"></script>

	<div class="row">
		<h1 class="small-12">Inscription</h1>
	</div>
	<div class="panel row centrage">
		<p class="small-0 medium-3 column"></p>
		<form class="small-12 medium-6 column" method="get" action="../../app/inscription.php" data-abide>
			<div>
				<label>e-mail : 	
					<input type="text" required name="mail" style="text-align:center;" >
				</label>
				<small class="error">L'e-mail est obligatoire.</small>
			</div>
			
			<br/>
			
			<div>
				<label>Mot de passe : 
					<input type="password" required id="mdp" name="passe" style="text-align:center;">
				</label>
				<small class="error">Le mot de passe est obligatoire.</small>
			</div>
			
			<br/>
			
			<div>
				<label>Confirmation du mot de passe : 
					<input type="password" required name="passe2" style="text-align:center;" data-equalto="mdp">
				</label>
				<small class="error">Les deux mots de passe ne sont pas égaux</small>
			</div>
			
			<br/>
			
			<div>			
				<label>Nom : 
					<input type="text" required name="nom" style="text-align:center;">
				</label>
				<small class="error">Le nom est obligatoire.</small>
			</div>
			
			<br/>
			<div>
				<label>Prenom : 
					<input type="text" required name="prenom" style="text-align:center;">
				</label>
				<small class="error">Le prénom est obligatoire.</small>
			</div>
			<br/>
			<div>
				<label>Profession :
					<input type="text" name="prof" style="text-align:center;">
				</label>
			</div>
			<br/>
			<div>
				<label>Lieu de travail : 
					<input type="text" name="lieu" style="text-align:center;">
				</label>
			</div>
			<br/>
			<div class="row">
				<input class="small-12 medium-5 column button" type="submit" value="M'inscrire">
				<p class="small-0 medium-2 column"></p>
				<input class="small-12 medium-5 column button" type="reset" value="Annuler">
			</div>
		</form>
		<p class="small-0 medium-3 column"></p>
	</div>
{% endblock %}
