{% extends base %}
 
{% block content %}

	<div class="row">
		<h1 class="small-12">Visualisation des données du {{ infos.name }}</h1>
	</div>

	<div class="row panel">
		<iframe class="small-12" style="height:70%;" id="fichierXML" src="../../{{ cheminXML }}"></iframe>
	</div>	
	<div class="row panel">
<p class="small-12">
			Pour revenir à la page précedente <a href={{ redirection }}>cliquez ici</a>
		</p>
	</div>
{% endblock %}
